.entry-content {
	margin: 0;
}

.hentry {
	margin-bottom: 0;
}

.color-fondo {
	background-color: #FAF5f5;
	padding: 1.5em 0;
}

#nav-biblioteca {
	/* margin: 1em auto; */
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.link-nav-biblio {
	background-color: #4472C4;
	border-radius: 10px;
	color: #fff;
	padding: 1em;
	margin: 1em;
}
.link-nav-biblio:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link-nav-biblio a {
	color: #fff;
}
