/**
 * Custom styles for the eventos component of the frontpage.
 */

.eventos {
	margin: 0 1em;
	text-align: center;
}

.image-evento {
	margin: 2em auto;
	/* max-width: 500px; */
	width: 100%;
	height: auto;
}
.content-evento {
	padding: 0 1em 2em;
}

.post-33 {
	background-color: #4472C4;
	border-radius: 10px;
}
.post-33,
.post-33 h3 {
	color: #FFF;
}

@media (--wide-menu-query) {
	.eventos {
		margin: 0 2em;
	}

	.eventos-tiles {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
		grid-auto-flow: dense;
		grid-gap: 2rem;
		grid-column: 1;
	}
}