/**
 * Custom styles for the galleria.
 */
 
 * {box-sizing:border-box}

 .galleria-content {
	height: 70vh;
	width: 100%;
}

/* Slideshow container */
.lp-slideshow-container {
	display: flex;
	position: relative;
	margin: auto;
	overflow: hidden;
}

/* Slideshow */
.lp-mySlides {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-height: 65vh;
	max-width: 100%;
}

/* Images inside the Slideshow container */
.lp-mySlides img{
	max-width: none;
	margin-left: 50%;
	transform: translateX(-50%);
	height: 65vh;
}

@media (--wide-menu-query) {
	.lp-mySlides img{
		max-height: none;
		max-width: 100%;
		margin-top: 50%;
		transform: translateY(-100%) translateX(-50%);
		height: auto;
	}
}

/* Hide the images by default */
/* .lp-mySlides {
	display: block;
	max-height: 65vh;
	max-width: 100%;
	position: relative;
	margin: auto;
	overflow: hidden;
} */

/* Next & previous buttons */
.lp-prev, .lp-next {
  /* background-color: #000; */
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100px;
  padding: 1%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  filter: alpha(opacity=70);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .flechita{
  margin-top: 210px;
} */


/* Position the "next button" to the right */
.lp-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .lp-prev:hover, .lp-next:hover {
	color: #3B58B8;
	text-decoration: none;
} */

/* Caption text */
.lp-text {
	color: #f2f2f2;
	background-color: #71717187;
	font-size: 1.5rem;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


/* The dots/bullets/indicators */
.lp-dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.lp-dots{
  text-align: center;
  display: block;
}

.lp-active, .lp-dot:hover {
	background-color: #717171;
}

/* Fading animation */
.lp-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}