/**
 * Custom styles for nosotros.
 */

.wp-post-image {
	max-width: 100%;
}

.contacto {
	margin: auto;
	width: 90%;
}

.mapa {
	margin: 1em;
	max-width: 90%;
}

#formulario-contacto {
	margin: 0 1em 0;
}

/* boton enviar */
#fld_7908577_1 {
	background-color: #E87D0C;
	color: white;
}
#fld_7908577_1:hover {
	background-color: #f8840b;
}

@media (--wide-menu-query) {
	.contacto {
		display: flex;
	}
	.mapa {
		width: 40%;
	}
	#formulario-contacto {
		width: 50%;
	}
}
