/**
 * Custom styles for the reglamentos en nosotros y modalidad.
 */

.reglamentos,
.protocolos {
	text-align: center;
	background-color: #4472C4;
	padding: 0 1em 1em;
	border-radius: 5px;
}
.reglamentos a,
.protocolos a {
	/* color: #E87D0C; */
	color: #fff;
}
.reglamentos a:hover,
.reglamentos a:focus,
.reglamentos a:active,
.protocolos a:hover,
.protocolos a:focus,
.protocolos a:active {
	color: #FFE40D;
}
.reglamentos h3,
.protocolos h3 {
	color: #fff;
	border-bottom: solid;
}

.boton-reglamento {
	padding: .5em;
	border-bottom: solid 1px;
	border-color: #FFF;
}
.icono-reglamento {
	vertical-align: text-top;
	font-size: 3em;
	display: inline;
}

.reglamentos-container {
	margin: 1em auto;
}

@media (--wide-menu-query) {
	.reglamentos-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.reglamentos,
	.protocolos {
		width: 40%;
	}
}
