/**
 * Custom styles for the eventos component of the frontpage.
 */

.eventos {
	margin: auto;
	text-align: center;
}

.image-evento {
	margin: auto;
	max-width: 500px;
	width: 100%;
	height: auto;
}
