/**
 * Custom styles for the galleria.
 */
 
 * {-webkit-box-sizing:border-box;box-sizing:border-box}

/* Slideshow container */
.lp-slideshow-container {
  max-height: 200px;
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Images inside the Slideshow container */
.lp-slideshow-container img{
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Hide the images by default */
.lp-mySlides {
    display: none;
    max-height: 200px;
    max-width: 700px;
}

/* Next & previous buttons */
.lp-prev, .lp-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.lp-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lp-prev:hover, .lp-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.lp-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.lp-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.lp-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.lp-dots{
  text-align: center;
}

.lp-active, .lp-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.lp-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes lp-fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes lp-fade {
  from {opacity: .4}
  to {opacity: 1}
}