/**
 * Custom styles for nosotros.
 */

.wp-post-image {
	max-width: 100%;
}

.contacto {
	margin: auto;
	width: 90%;
}

.mapa {
	margin: 1em;
	max-width: 90%;
}

#formulario-contacto {
	margin: 0 1em 0;
}

/* boton enviar */
#fld_7908577_1 {
	background-color: #3b58b8;
	color: white;
}
/* hay que hacer el hover del boton */

@media screen and (min-width: 37.5em) {
	.contacto {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.mapa {
		width: 40%;
	}
	#formulario-contacto {
		width: 50%;
	}
}
